<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWhewell.InterfaceFactory" version="4.0.0" targetFramework="net461" />
  <package id="AWhewell.Owin" version="1.0.0-beta38" targetFramework="net461" />
  <package id="AWhewell.Owin.Host.HttpListener" version="1.0.0-beta38" targetFramework="net461" />
  <package id="AWhewell.Owin.Utility" version="1.0.0-beta38" targetFramework="net461" />
</packages>