html, body                  { margin: 0; padding: 0; background-color: #ffffff; font-family: Tahoma, Sans-Serif; font-size: 10pt; overflow: auto; }

.googleMapStylesheet        { color: Black; }  /* for ID purposes only, do not use, remove or change */

A:link                      { color: Blue; text-decoration: none; }
A:visited                   { color: Blue; text-decoration: none; }
A:hover                     { color: Blue; text-decoration: underline; }
A:active                    { color: Blue; text-decoration: underline; }
div#container               { float: left; width: 100%; height: 100%; }
div#credit                  { padding-top: 2em; font-size: 8pt; text-align: center; }
div#credit A:link           { color: Gray; }
div#credit A:visited        { color: Gray; }
div#credit A:hover          { color: Gray; }
div#credit A:active         { color: Gray; }
div#list_heading            { padding: 0.5em 0em 0.25em 0em; }
div#map_canvas              { height: 100%; margin-right: 420px; }
div#splitter                { float: left; height: 100%; margin-left: -420px; width: 10px; background: url("Images/HideList.png") no-repeat center; cursor: pointer; }
div#sidebar_canvas          { float: left; width: 410px; margin-left: -410px; height: 100%; overflow: auto; }
div#sidebarContainer        { width: 390px; }
div#nav_canvas              { text-align: right; }

div#timeout                 { display: none; width: 100%; position: absolute; top: 0; left: 0; background-color: #ffffff; border-bottom: 1px solid black; }
div#timeout p               { padding: 3em; font-size: large; font-weight: bold; text-align: center; }

.detailHeading              { font-family: Trebuchet MS, Sans-Serif; color: #8080ff; }
.detailEmHeading            { font-family: Trebuchet MS, Sans-Serif; color: #5050ee; }

.detailHeadingTable         { width: 100%; border-collapse: separate; border-spacing: 0; padding: 0; }
.detailRegistration         { font-size: 13pt; }
.detailIcao                 { font-size: 12pt; text-align: center; }
.detailBearing              { text-align: right; }
.detailOpFlag               { text-align: right; }

.detailSummaryTable         { width: 100%; border-collapse: collapse; border-spacing: 0; }
.detailOperator             { font-size: 13pt; }
.detailCallsign             { width: 85px; font-size: 10pt; }
.detailModel                { font-size: 11pt; }
.detailType                 { width: 85px; font-size: 10pt; }
.detailICAOCountry          { font-size: 11pt; }
.detailCivOrMil             { width: 85px; font-size: 10pt; }

.detailPositionLine         { }
.detailSquawkLine           { }
.detailSquawkLine b         { color: red; }
.detailLinkList             { padding-top: 1em; }

.detailRouteTable           { width: 100%; border-collapse: separate; border-spacing: 0; font-size: 8pt; margin: 0; padding: 0; }
.detailRouteHead            { font-weight: bold; padding-right: 1em; }
.detailRouteDetail          { }

div#detail_select           { }
#detailPicture              { margin-top: 1em; margin-bottom: 0.2em; text-align: center; }
.detailPictureImg           { border: 0px; }

select#nav_select           { font-size: 8pt; font-family: Tahoma, Verdana, Sans-Serif; }
.listTracking               { float: left; }
.listPause                  { float: right; }
.listChooseOp               { margin-left: 2em; }
.listOptionsLinks           { text-align: center; }
.listChooseAdd              { display:inline; margin-right: 1em; }
.listResetToDefault         { display:inline; margin-left: 1em; }
.listChooseNoCols           { color: #404040; text-align: center; }
#list_table                 { width:100%; border: none; border-collapse: collapse; empty-cells: show; margin: 0; padding: 0; font-size: 8pt; }
#list_table tr.selected     { background-color: #D6FFAD; }
#list_table tr.emergency    { background-color: Red; color: White; }
#list_table tr.emergency A  { color: White; text-decoration: none; }
#list_table td              { border-bottom: 1px solid #e0e0e0; }
#list_table tr.even         { background-color: #f0f0ff; }
#list_table tr.hidden       { display: none; }
th                          { padding: 0px 3px 0px 2px; }
td                          { padding: 0px 3px 0px 2px; }
.flushLeft                  { padding-left: 0px; }
.flushRight                 { padding-right: 0px; }
.cellRowHeader              { padding-left: 0px; padding-right: 0px; width: 10px; cursor: pointer; }
.cellOperatorFlag           { padding-left: 0px; padding-right: 0px; width: 85px; cursor: pointer; border: 0px !important; background: #ffffff !important; }
.cellSilhouette             { padding-left: 0px; padding-right: 0px; width: 85px; cursor: pointer; border: 0px !important; background: #ffffff !important; }
.cellRegistration           { padding-left: 3px; }
.cellPicture                { padding-left: 0px; padding-right: 0px; width: 60px; cursor: pointer; border: 0px !important; background: #ffffff !important; }

/* Options II - The Rise of the Tabs */
div#options                 { }
div#optionsSwitch           { margin-top: 1em; text-align: right; font-size: 8pt; }
div#optionsSwitch A         { color: #808080; }
div#optionsPane             { display: none; }
div#optionsTabHeaders       { }
.optionsTabHeaderLeft       { float: left; padding-left: 1em; }
.optionsTabHeaderRight      { display: block; border-bottom: 1px solid #e0e0e0; }
.optionsTabHeaderBookend    { float: left; border-left: 1px solid #e0e0e0; }
.optionsTabHeader           { float: left; padding: 0 1em 0 1em; border-top: 1px solid #e0e0e0; border-left: 1px solid #e0e0e0; color: Blue; cursor:pointer; }
.optionsTabHeaderSelected   { float: left; padding: 0 1em 0 1em; border-top: 1px solid #e0e0e0; border-left: 1px solid #e0e0e0; border-bottom: 1px solid #f0f0f0; background-color: #f0f0f0; color: Black; }
div#optionsTabBodies        { clear: both; background-color: #f0f0f0; padding-bottom: 1em; border-left: 1px solid #e0e0e0; border-right: 1px solid #e0e0e0; border-bottom: 1px solid #e0e0e0; }
.optionsTabBody             { display: none; }
div#optionsTabHelp          { float: right; font-size: 0.8em; margin-right: 1em; }
.optionsTabBodySelected     { display: block; padding: 0 0.5em 0 0.5em; }
.optionsForm                { margin: 4px; }
.optionsForm SELECT         { font-size: 8pt; }
.optionsForm INPUT          { font-size: 8pt; }
.optionsHeading             { padding: 0.5em 0em 0em 0.1em; margin: 0; font-weight: bold; border-bottom: solid 1px #e0e0e0; }
.optionsHidden              { display: none; }
.optionsTable               { font-size: 10pt; }
.optionsRow                 { }
.optionsCell                { }

/* Google Map buttons */
.googleMapButton            { border: 1px solid #A9BBDF; padding: 0; box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.35); -moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.35); -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.35); background: #FEFEFE; background: -moz-linear-gradient(top, #FEFEFE 0%, #F3F3F3 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FEFEFE), color-stop(100%,#F3F3F3)); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FEFEFE', endColorstr='#F3F3F3',GradientType=0); cursor: pointer; }

/* Marker labels (an alternative to generating text for the pins) */
.markerLabel                { }
.markerLabelText            { color: #ffffff; font-size: 8pt; background-image: url('Images/Transparent-50.png'); white-space: nowrap; }

/* Volume control */
.volumeControl              { margin: 5px 0px 5px 0px; }
.volumeInner                { margin: 0; padding: 2px; }
.volumeValue                { display: inline; margin: 0; padding: 0; }
.volumeDown                 { display: inline; margin: 0; padding: 0; }
.volumeUp                   { display: inline; margin: 0; padding: 0; }

/* Moving map control */
.movingMapControl           { margin: 5px 5px 5px 0px; }
.movingMapInner             { margin: 0; padding: 2px; }
.movingMapIcon              { display: inline; margin: 0; padding: 0; }