html, body              { margin: 0; padding: 0; background-color: #ffffff; font-family: Tahoma, Sans-Serif; font-size: 10pt; height: 100%; overflow: auto; }

.frBody                 { overflow: auto; }

#frWhole                { height: 100%; }
#frTopHalf              { height: 45%; width: 100%; }
#frBottomHalf           { height: 55%; width: 100%; overflow: auto; }

#map_container          { float: left; width: 100%; height: 100%; }
#map_canvas             { height: 100%; margin-right: 435px; }

#sidebar_container      { float: left; width: 430px; margin-left: -430px; height: 100%; overflow: auto; }
#sidebar_canvas         { width: 410px; }

#help                   { text-align: right; font-size: 0.9em; margin-right: 2px; }
#help A                 { color: #808080; text-decoration: none; }

.toggleCriteria         { width: 100%; text-align: right; margin-bottom: 1em; font-size: 8pt; color: #808080; }
.toggleCriteria A       { color: #808080; text-decoration: none; }
.rowCount               { text-align: left; }
.showHideCriteria       { text-align: right; }
div#criteriaPanel       { width: 100%; background-color: #f0f0f0; font-size: 10pt; display: none; }
div#criteria table      { width: 100%; border-collapse: separate; border-spacing: 0; font-size: 10pt; }
div#criteria input      { font-size: 10pt; }
div#criteria label      { }
.critUppercase          { text-transform: uppercase; }

div#waitAnimation       { width: 100%; text-align: center; font-size: 18pt; color: #404040; display: none; }
div#errorText           { font-size: 12pt; background-color: Red; color: White; text-align: center; margin-left: auto; margin-right: auto; padding-left: 2em; padding-right: 2em; display: none; }
div#reportStatistics    { margin-top: 2em; font-size: 8pt; color: #505050; text-align: center; width: 100%; }

.hideOnPrint            { }

.detailHeading          { font-family: Trebuchet MS, Sans-Serif; color: #8080ff; }
.detailHeadingTable     { width: 100%; border-collapse: separate; border-spacing: 0; padding: 0; }
.detailRegistration     { font-size: 13pt; }
.detailIcao             { font-size: 12pt; text-align: center; }
.detailOpFlag           { text-align: right; }

.detailSummaryTable     { width: 100%; border-collapse: collapse; border-spacing: 0; }
.detailOperator         { font-size: 13pt; }
.detailOpFlagCode       { width: 85px; font-size: 10pt; }
.detailModel            { font-size: 11pt; }
.detailType             { width: 85px; font-size: 10pt; }

.detailOtherTable       { border-collapse: separate; border-spacing: 0; font-size: 8pt; line-height: 95%; }
.detailOtherHead        { font-weight: bold; padding-right: 1em; }
.detailOtherDetail      { }
.detailPicture          { text-align: center; margin: 1em 0em; }
.detailPictureImg       { border: 0px; }

.pageControl                { width: 100%; text-align: center; background-color: #f0f0ff; margin-top: 1em; margin-left: 0; margin-right: 0; padding-top: 4px; padding-bottom: 4px; }
.pageControl A:link         { color: #7070ff; text-decoration: none; }
.pageControl A:visited      { color: #7070ff; text-decoration: none; }
.pageControl A:hover        { color: #7070ff; text-decoration: underline; }
.pageControl A:active       { color: #7070ff; text-decoration: underline; }
.pageControlShowHide        { float: right; cursor:pointer; }
.pageControlOptions         { font-size: 8pt; display: none; }
.pageControlOptions table   { font-size: 8pt; border-collapse: separate; border-spacing: 0; margin-left: auto; margin-right: auto; }
.pageControlOptions input   { font-size: 8pt; }

.flight                 { width: 100%; background-color: #f0f0ff; margin-top: 1em; }
.flightHighlight        { background-color: #00ff80; }
.flightBox1             { background-image: url(Images/corner-tl.png); background-repeat: no-repeat; background-position: top left; }
.flightBox2             { background-image: url(Images/corner-tr.png); background-repeat: no-repeat; background-position: top right ; }
.flightBox3             { background-image: url(Images/corner-bl.png); background-repeat: no-repeat; background-position: bottom left; }
.flightBox4             { background-image: url(Images/corner-br.png); background-repeat: no-repeat; background-position: bottom right; }
.flightContent          { }

.flightHeading          { background-color: #e0e0ff; }
.flightHeadingRow       { width: 100%; padding-left: 5px; padding-right: 5px; border-collapse: separate; border-spacing: 0; font-size: 10pt; }
.flightFirstGroup       { background-color: #d0d0ff; }
.flightEmergency        { background-color: #ff0000; color: #ffffff; }
.flightDate             { width: 55%; }
.flightCall             { width: 30%; }
.flightTime             { width: 15%; text-align: right; }

.flightDetail           { width: 90%; border-collapse: separate; border-spacing: 0; font-size: 8pt; margin-left: 10%; color: #404040; line-height: 95%; }
.flightDetailHeading    { font-weight: bold; width: 6em; }
.flightDetailValue      { }

.allFlights             { width: 100%; border-collapse: collapse; font-size: 8pt; margin: 0; padding: 0; border: 0; }
.allFlightsHeading      { font-weight: bold; text-align: left; }
.allFlightsGroup        { text-decoration: underline; font-weight: bold; height: 20px; line-height: 20px;}
.allFlightsRow          { cursor:pointer; }
.allFlightsOdd          { background-color: #fcfab7; }
.allFlightsEven         { }
.allFlightsEmg          { background-color: #ff0000; color: #ffffff; }
.allFlightsEmg A        { color: #ffffff; }
.allFlightsCell         { height: 20px; line-height: 20px; border: 0; padding: 0; margin: 0; }
.allFlights IMG         { margin: 0; padding: 0; border: 0; float: left; }
