@inherits LayoutComponentBase

<PageTitle>Virtual Radar Server</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4 mt-4">
            @Body
        </article>
    </main>
</div>
