/*
    Copyright © 2014 onwards, Andrew Whewell
    All rights reserved.

    Redistribution and use of this software in source and binary forms, with or without modification, are permitted provided that the following conditions are met:
       * Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.
       * Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following disclaimer in the documentation and/or other materials provided with the distribution.
       * Neither the name of the author nor the names of the program's contributors may be used to endorse or promote products derived from this software without specific prior written permission.

    THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE AUTHORS OF THE SOFTWARE BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
*/

/*region Custom fonts */
@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon.eot');
    src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.woff') format('woff'),
    url('../fonts/icomoon.ttf') format('truetype'),
    url('../fonts/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*endregion */

/*region Basic tags */
* {
    margin: 0;
    padding: 0;
    touch-action: pan-x pan-y;
    -ms-touch-action: pan-x pan-y;
}
body {
    font-family: Roboto, Tahoma, sans-serif;
    font-size: 0.9em;
}
/*endregion */

/*region Splitters */
#splitters[style],
#splitters .vrsSplitter[style],
#splitters .bar[style],
#splitters .splitterPane[style] {
    position: relative !important;
    width: inherit !important;
    height: inherit !important;
    left: inherit !important;
    top: inherit !important;
    right: inherit !important;
    bottom: inherit !important;
    z-index: 0 !important;
}
#splitters .bar {
    display: none;
}
/*endregion */

/*region Mobile panels */
#pages .headerPanel {
    display: none;
}
/*endregion */

/*region Maps */
#map[style] {
    width: 0 !important;
    height: 0 !important;
}
#map {
    display: none;
}
/*endregion */

/*region Aircraft detail panel */
#detail[style] {
    width: inherit !important;
    height: inherit !important;
}
.vrsAircraftDetail {
    margin: 1em;
    border: 1px solid #bbb;
}
.vrsAircraftDetail .header table {
    width: 100%;
    font-size: 1.2em;
    font-weight: 700;
    empty-cells: show;
}
.vrsAircraftList .emptyReport {
    font-size: 2em;
    color: #C0C0C0;
    text-align: center;
    padding-top: 2em;
}
.vrsAircraftDetail .body ul {
    list-style-type: none;
    padding-left: 0;
    display: table;
    width: 100%;
}
.vrsAircraftDetail .body li {
    display: table-row;
}
.vrsAircraftDetail .body li:nth-child(even) {
    background-color: #f0f0f0;
}
.vrsAircraftDetail .body li .label,
.vrsAircraftDetail .body li .noLabel,
.vrsAircraftDetail .body li .content {
    display: table-cell;
    vertical-align: top;
    border-top: 1px solid #ddd;
}
.vrsAircraftDetail .body li .noLabel,
.vrsAircraftDetail .body li .label {
    padding-left: 0.2em;
    font-weight: 700;
    color: #2e74b5;
    padding-right: 2em;
    max-width: 10em;
}
.aircraftList tbody td.fixedWidth img {
    display: block;
}
/*endregion */

/*region Aircraft list */
.vrsAircraftList {
    margin: 1em;
    border: 1px solid #bbb;
    padding-top: 0.5em;
}
.vrsAircraftList[style] {
    width: inherit !important;
    height: inherit !important;
}
.vrsAircraftList table.aircraftList {
    width: 100%;
    border-collapse: collapse;
}
.vrsAircraftList table.aircraftList th,
.vrsAircraftList table.aircraftList td {
    font-size: 0.9em;
    text-align: left;
}
.aircraftList tbody td {
    height: 1.5em;
}
.aircraftList td:not(.fixedWidth) {
    vertical-align: top;
    padding: 0.2em 0.3em 0 0.2em;
}
.aircraftList th:first-child,
.aircraftList td:first-child {
    padding-left: 0.3em;
}
.vrsAircraftList table.aircraftList th {
    border-bottom: 2px solid #2e74b5;
}
.vrsAircraftList table.aircraftList .pagerRow {
    display: none;
}
.aircraftList tbody td:not(.firstRow) {
    border-top: 1px solid #d0d0d0;
}
.vrsAircraftList .group td {
    font-weight: 700;
    font-size: 1.16em;
    vertical-align: middle;
    padding-left: 2em;
    line-height: 2em;
    color: #26639B;
}
.aircraftList .vrsCentre {
    text-align: center;
}
.aircraftList .vrsRight {
    text-align: right;
}
.aircraftList .vrsOdd {
    background-color: #ffffff;
}
.aircraftList .vrsEven {
    background-color: #f0f0f0;
}
.aircraftList .vrsEmergency {
    background-color: red;
    color: white;
}
/*endregion */