<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWhewell.InterfaceFactory" version="4.0.0" targetFramework="net48" />
  <package id="SourceGear.sqlite3" version="3.53.4" targetFramework="net48" />
  <package id="System.Data.SQLite" version="2.0.4" targetFramework="net48" />
</packages>