<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWhewell.InterfaceFactory" version="4.0.0" targetFramework="net461" />
  <package id="AWhewell.Owin" version="1.0.0-beta37" targetFramework="net461" />
  <package id="AWhewell.Owin.Utility" version="1.0.0-beta37" targetFramework="net461" />
  <package id="AWhewell.Owin.WebApi" version="1.0.0-beta37" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net461" />
</packages>