<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWhewell.InterfaceFactory" version="4.0.0" targetFramework="net461" />
  <package id="AWhewell.Owin" version="1.0.0-beta04" targetFramework="net461" />
  <package id="AWhewell.Owin.Utility" version="1.0.0-beta04" targetFramework="net461" />
  <package id="AWhewell.Owin.WebApi" version="1.0.0-beta04" targetFramework="net461" />
  <package id="HtmlAgilityPack" version="1.4.6" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net461" />
</packages>