/*
    Palleton: http://paletton.com/#uid=13W0u0kfSkm7JtOc6oxjLgrovcG
*/

/* Page styles */
html, body {
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.page-header {
    margin-top: 0;
}
.thin-column {
    width: 1px;
}
.clickable {
    cursor: pointer;
}

/* Navbar */
.navbar {
    background: #404570;
    color: #eee;
    border: 0;
    border-radius: 0;
}
.navbar-default .navbar-brand {
    color: #fff;
}
.navbar .navbar-nav > li > a {
    color: #eee;
}
.navbar .active > a,
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus
{
    background: #8285A4;
}
.navbar .navbar-toggle {
    border-color: #503D6E;
}
.navbar .navbar-toggle .icon-bar {
    background-color: #eee;
}
.navbar .navbar-collapse {
    border-color: #503D6E;
}


/* Sidebar */
#sidebar {
    height: 100%;
    padding-right: 0;
}
#sidebar .nav {
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
}
#sidebar li {
    border:0 #f2f2f2 solid;
    border-bottom-width:1px;
}
#sidebar li a:hover {
    background-color: #337AB7;
    color: #eee;
}
#sidebar li.active {
    color: #eee;
    font-weight: 700;
    background-color: #5B5F87;
    padding: 10px 15px;
}

@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }
  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -41.6%;
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -41.6%;
  }
  .row-offcanvas-right.active {
    right: 41.6%;
  }
  .row-offcanvas-left.active {
    left: 41.6%;
  }
  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 41.6%;
  }
  #sidebar {
    padding-top:0;
  }
}

/* Panels */
.panel, .panel-group .panel, .panel-heading {
    border-radius: 0;
}
.panel-default {
    border-color: #8285A4;
}
.panel-default > .panel-heading {
    background-color: #5B5F87;
    color: #eee;
    border-color: #8285A4;
}

.panel-default > .panel-heading a,
.panel-default > .panel-heading a:link,
.panel-default > .panel-heading a:visited,
.panel-default > .panel-heading a:hover,
.panel-default > .panel-heading a:active
{
    color: #eee;
    text-decoration: none;
}

/* Modals */
.modal-header {
    background: #404570;
    color: #eee;
}
.modal-header .close {
    color: #eee;
    opacity: 0.9;
}

/* Forms */
.has-feedback.has-warning .form-control-feedback.glyphicon-exclamation-sign {
    color: #ffff00;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.form-section {
    font-size: 1.4em;
    color: #337AB7;
    border-bottom: 1px solid #eee;
    margin: 1.4em -15px 0.5em -15px;
    padding-left: 15px;
    padding-right: 15px;
}
.form-section .tight-top {
    margin-top: inherit;
}
.help-block-icon {
    margin-right: 1em;
}
.help-block-icon.error {
    color: #ff0000;
}
.help-block-icon.warning {
    color: #0000ff;
}

/* Tables */
.table > thead > tr > th {
    color: #2A2F5A;
    border-bottom: 2px solid #8285A4;
}

/* Modal alerts */
.modal-alert {
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    overflow: hidden;
}
.modal-alert div {
    position: fixed;
    top: 50%;
    left: 0;
    width: 100%;
}
