<!-- Virtual Radar Server Web Admin Plugin Page -->

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic,greek,vietnamese' rel='stylesheet' type='text/css'>

        <!-- CSS -->
        <link rel="shortcut icon" href="../favicon.ico">
        <link rel="stylesheet" href="../css/webadmin/jquery-mobile/jquery.mobile.css" />
        <link rel="stylesheet" href="../css/webadmin/webadmin.css" />

        <!-- [[ JS BUNDLE START ]] -->
        <!-- 3rd party javascript libraries and plugins -->
        <script src="../script/jquery.js" type="text/javascript"></script>
        <script src="../script/webadmin/jquery.mobile.js" type="text/javascript"></script>

        <!-- [[ BUNDLE END ]] -->