<!-- Virtual Radar Server Web Admin Plugin Page -->

        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

        <!-- Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic,greek,vietnamese' rel='stylesheet' type='text/css'>

        <!-- CSS -->
        <link rel="shortcut icon" href="../favicon.ico">
        <link rel="stylesheet" href="css/bootstrap/css/bootstrap.css" />
        <link rel="stylesheet" href="css/bootstrap/css/bootstrap-vrs-theme.css" />

        <!-- Dynamically generated JavaScript - this cannot be bundled -->
        <script src="script/Strings.WebAdmin.js" type="text/javascript"></script>

        <!-- [[ JS BUNDLE START ]] -->

        <!-- 3rd party javascript libraries and plugins -->
        <script src="../script/jquery.js" type="text/javascript"></script>
        <script src="../script/purl.js" type="text/javascript"></script>
        <script src="script/bootstrap.js" type="text/javascript"></script>
        <script src="script/knockout.js" type="text/javascript"></script>
        <script src="script/knockout.extensions.js" type="text/javascript"></script>
        <script src="script/knockout.viewmodel.js" type="text/javascript"></script>
        <script src="script/fastclick.js" type="text/javascript"></script>

        <!-- VRS standard modules -->
        <script src="../script/vrs/string.js" type="text/javascript"></script>
        <script src="../script/vrs/utility.js" type="text/javascript"></script>

        <!-- Web Admin modules -->
        <script src="script/menu.js" type="text/javascript"></script>
        <script src="script/viewid.js"></script>
